.flex-container {
    display: flex;
    flex-direction: column;
    
}
.flex-container div {
    flex: 1;
}

.hlogo{
    font-size: 24px;
    color: #F9FAF8;
    text-align: left;
    padding-left: 80px;
}
ul {
    background-color: #1F2937;
    height: 60px;
    list-style-type: none;
    padding: 2px;
    display: flex;
    float:right;
    padding-right: 80px;
    padding-top: 30px;
}
li {
    display: inline;
    margin: 2px;
    font-size: 18px;
    color: #E5E7EB;
}
body {
    margin: 0;
    margin-top: -16px;
}