.flex-container {
    display: flex;
    flex-direction: column;
    
}

.button_header {
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 9px;
    padding: 4px;
    font-weight: bold;
    width: 60px;
    text-align: center;
}
.button_footer {
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 9px;
    padding: 4px;
    font-weight: bold;
    width: 60px;
    text-align: center;
    border-color: #F9FAF8;
}